$color-grey: #443e3e;
$color-white: #fff;

.character-container {
  margin: 1.5rem auto;
  padding: 1rem;
  width: 30rem;
  border: 1px solid $color-grey;
  background: $color-white;

  h1 {
    font-size: 1.8rem;
  }

  p {
    margin-bottom: 0.5rem;
  }
}
